html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
} /*<html> 是整个页面的父元素，它里面的所有元素都继承相同的 font-size 和 font-family。*/

h1 {
  font-size: 60px;
  text-align: center; /*标题居中*/
}

p,
li,
a {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
li {
  background-color: #48009f;
}
html {
  background-color: #00539f;
}
body {
  width: 600px; /*强制文档体永远保持600像素宽 */
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 3px black;
} /* 我们设置 margin: 0; 覆盖浏览器的默认样式 */

img {
  display: block; /*此时 <img> 变成块级元素，独占一行*/
  margin: 0 auto;
}
